@import "tailwindcss";

:root {
  --background: #d9dce0;
  --foreground: #3b4666;
}

@theme inline {
  --color-pink-brand: #f19da7;
  --color-navy-brand: #3b4666;
  --color-gray-brand: #d9dce0;
  --color-white-brand: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}